[submodule "spots-gateway"]
	path = spots-gateway
	url = https://github.com/PaulEvers/spots-gateway.git
[submodule "spots-spotservice"]
	path = spots-spotservice
	url = https://github.com/PaulEvers/spots-spotservice.git
[submodule "spots-flutter"]
	path = spots-flutter
	url = https://github.com/PaulEvers/spots-flutter.git
[submodule "spots-eureka"]
	path = spots-eureka
	url = https://github.com/PaulEvers/spots-eureka.git
